@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 :root{
  --Almost-White:hsl(0, 0%, 98%);
  --Medium-Gray:hsl(0, 0%, 41%);
  --Almost-Black:hsl(0, 0%, 8%);
 }
 body{
    font-family: 'Epilogue', sans-serif;
    background-color: var(--Almost-White);
    width: 100%;
    position: fixed;
    overflow-x: hidden;
 }
 /* utility classes  */
 a{
    text-decoration: none;
    color: var(--Almost-Black);
 }
 ul{
    list-style: none;
 }
 svg{
    cursor: pointer;
 }
 .flex{
    display: flex;
 }
 .btn{
    padding: 10px;
 }
/* utility classes  */
 .close-btn,.toggle-btn{
    display: none;
    cursor: pointer;
 }
 .navbar{
    padding: 25px 25px 15px;
 }
 .main-menu{
    width: 80%;
    margin-left: 60px;
 }
 .menu{
    width: 100%;
    justify-content: space-between;
    align-items: center;
 }
 .link-list .link-item{
    width: 100px;
    margin: 0 10px;
 }
 .link-list .link-item:nth-child(3){
   margin-right: 0;
 }
 .link-list .link-item:nth-child(4){
   width: 50px;
 }
 .link-list:nth-child(4){
   margin-left: 0;
 }
 .dropdown .down-arrow{
    margin-left: 5px;
    cursor: pointer;
    transition: all .1s linear;
 }
 .down-arrow.open{
   transform: rotate(180deg);
 }
 /* dropdown menu  */
 .dropdown{
   position: relative;
 }
 .dropdown-menu{
   display: none;
   position: absolute;
   left: -60%;
   bottom: -165px;
   width: 150px;
   padding: 10px 0;
   background-color: var(--Almost-White);
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   border-radius: 8px;
 }
 .dropdown-menu.company{
   width: 110px;
   left: -10%;
   bottom: -125px;
 }
 .dropdown-menu.active{
   display: block;
 }
 .dropdown-link-list li{
  margin: 10px ;
  width: 100%;
 }
 .dropdown-link-list li a{
  margin-left: 10px;
 }
 /* dropdown menu  */

 .reg-link .btn{
    border: 2px solid var(--Almost-Black);
    border-radius: 8px;
 }
 .reg-link .login{
    margin-right: 20px;
 }

 /* responsive navbar  */

 @media screen  and (max-width:768px){
   .navbar{
   justify-content: space-between;
   }
   .toggle-btn{
      display: block;
   }
   .main-menu{
     position: absolute;
     width: 100%;
     height: 100vh;
     margin-left: 0;
     top: 0;
     left: 100%;
     background: rgba(0, 0, 0, 0.69);
     z-index: 99;
     transition: all .3s ease;
   }
   .main-menu.active{
      left: 0;
   }
   .menu{
      position: absolute;
      width: 230px;
      height: 100%;
      padding: 30px;
      top: 0;
      right: 0;
      background-color: var(--Almost-White);
      flex-direction: column;
      justify-content: flex-start;
   }
   .close-btn{
      display: block;
      align-self: flex-end;
   }
   
   .link-list{
      flex-direction: column;
      width: 100%;
   }
   .link-list .link-item{
      margin: 10px 0;
   }
   .reg-link{ 
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center; 
      margin-top: 20px;
   }
   .dropdown-menu,
   .dropdown-menu.company {
      position: relative;
      left: 10px;
      bottom: -10px;
      box-shadow: none;
   }
   .reg-link .login{
      margin: 10px 0;
   }
 }

 /* hero section  */
 .hero{
   min-height: calc(100vh - 71px);
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .hero .content{
 width: 850px;
 align-items: center;
 justify-content: space-between;
 
 }
 .text-content{
   width: 400px;
   margin-top: 5rem;
 }
 .text h1{
   font-size: 3.8rem;
 }
 .text p{
   margin: 1rem 0 2rem;
 }
 .text a{
   background-color: var(--Almost-Black);
   color: var(--Almost-White);
   border: 2px solid var(--Almost-Black);
   border-radius: 8px;
 }
 .text a:hover{
   color: var(--Almost-Black);
   background-color: transparent
 }
 .text-content .client{
   width: 100%;
   margin-top: 4.5rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 .img-content .desktop{
   width: 320px;
 }
 .img-content .mobile{
   display: none;
 }
 
 @media screen and (max-width:768px) {
   .hero .content{
     flex-direction: column-reverse;
     justify-content: flex-start;
   }
   .text-content{
      width: 100%;
   }
   .img-content{
      width: 90%;
   }
   .img-content .desktop{
      display: none;
    }
   
    .img-content .mobile{
      display: inline-block;
      width: 100%;
      object-fit: contain;
    }
    .text-content{
      text-align: center;
    }
    .text h1{
      font-size: 3rem;
    }
    .text p{
      width: 400px;
      margin-inline: auto;
      font-size: 16px;
      line-height: 18px;
    }
    .text-content .client{
      justify-content: space-around;
    }
 }

 @media  screen and (max-width:472px) {
   .img-content{
      width: 100%;
   }
   .text h1{
      font-size: 2rem;
    }
    .text p{
      width: 300px;
      margin-inline: auto;
      font-size: 14px;
      line-height: 18px;
    }
 }